<!-- <mat-toolbar>
    <img src="../../../assets/images/logo.png" width="105" height="94" />
</mat-toolbar> -->
<section class="bg-blue">
    <mat-grid-list cols="1" rowHeight="150px">
        <mat-grid-tile>
            <img src="../../../assets/images/logo.png" width="105" height="94" />
        </mat-grid-tile>
    </mat-grid-list>
    <mat-card class="container-card">
        <div class="row mt-3">
            <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">
                <h3 class="title">Sign Up</h3>
                <small class="sub-title">To be a member</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="registerForm">
                    <div class="row d-flex justify-content-center align-items-center mt-4">
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>First Name</mat-label>
                                <input matInput type="text" formControlName="firstName">
                                <span matPrefix>
                                    <mat-icon>person</mat-icon>
                                    &nbsp;
                                </span>
                                <mat-error *ngIf="f['firstName'].hasError('required')">First Name is Required
                                </mat-error>
                                <mat-error *ngIf="f['firstName'].hasError('pattern')">Please Enter a Valid Name
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Last Name</mat-label>
                                <input matInput type="text" formControlName="lastName">
                                <span matPrefix>
                                    <mat-icon>person</mat-icon>
                                    &nbsp;
                                </span>
                                <mat-error *ngIf="f['lastName'].hasError('required')">Last Name is Required
                                </mat-error>
                                <mat-error *ngIf="f['lastName'].hasError('pattern')">Please Enter a Valid Name
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center align-items-center mt-4">
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Mobile No</mat-label>
                                <input maxlength="10" matInput type="text" formControlName="mobileNum">
                                <span matPrefix>
                                    +91
                                    &nbsp;
                                </span>
                                <mat-error *ngIf="f['mobileNum'].hasError('required')">Mobile No is Required
                                </mat-error>
                                <mat-error *ngIf="f['mobileNum'].hasError('pattern')">Please Enter a Valid Mobile No
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="email">
                                <span matPrefix>
                                    <mat-icon>email</mat-icon>
                                    &nbsp;
                                </span>
                                <mat-error *ngIf="f['email'].hasError('required')">Email is Required
                                </mat-error>
                                <mat-error *ngIf="f['email'].hasError('email')">Please Enter a Valid Email
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center align-items-center mt-4">
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>City</mat-label>
                                <input matInput type="text" formControlName="city">
                                <mat-error *ngIf="f['city'].hasError('required')">City is Required
                                </mat-error>
                                <mat-error *ngIf="f['city'].hasError('pattern')">Please Enter a Valid City Name
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <div class="">
                                <mat-form-field>
                                    <mat-label>Password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon class="text-secondary">{{hide ? 'visibility_off' : 'visibility'}}
                                        </mat-icon>
                                    </button>
                                    <span matPrefix>
                                        <mat-icon>lock</mat-icon>
                                        &nbsp;
                                    </span>
                                    <mat-error *ngIf="f['password'].hasError('required')">Password is Required
                                    </mat-error>
                                    <mat-error *ngIf="f['password'].hasError('pattern')">Please Enter a Valid Password
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center align-items-center mt-5">
                        <div class="col-md-2 d-flex justify-content-center align-items-center">
                            <button type="submit" mat-raised-button class="bg-blue submit-btn text-white w-70" (click)="submitData()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>
</section>
<ngx-spinner><p style="color: white"> Loading... </p></ngx-spinner>