.example-spacer {
    flex: 1 1 auto;
}

.sidenav {
    width: 260px !important;
    height: 100vh !important;
}

.mat-drawer-container {
    overflow: initial !important;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.list-item {
    cursor: pointer !important;
}

.active {
    list-style-type: decimal !important;
    font-weight: 600 !important;
}

.menu-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

