<mat-drawer-container class="example-container overflow-auto bg-white" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened="true">
        <div class="d-flex justify-content-center align-items-center mt-4">
            <img src="../../assets/images/logo-light.png" width="81" height="72" />
        </div>
        <mat-list class="mt-5" role="list">
            <mat-list-item class="list-item" role="listitem" matRipple>Profile</mat-list-item>
        </mat-list>
        <mat-accordion class="custom-panel">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="custom-panel-header"
                    [ngClass]="{ 'bg-blue': panelOpenState === true, 'custom-drop-icon': panelOpenState === true }">
                    <mat-panel-title [ngClass]="{ 'text-white': panelOpenState === true }">
                        <strong>Moments</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item class="list-item" role="listitem" matRipple [routerLink]="['/moments']"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        Moments List
                    </mat-list-item>
                    <mat-list-item class="list-item" role="listitem" matRipple [routerLink]="['/moments/add-moment']"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        Add Moment
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>
    <mat-toolbar class="bg-white">
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
            aria-label="Example icon-button with menu icon">
            <mat-icon svgIcon="hamburger-menu"></mat-icon>
        </button>
        <span class="example-spacer"></span>
        <div class="profile-btn d-flex align-items-center">
            <button class="shadow-none" mat-mini-fab color="primary">
                <img class="menu-img" src="https://randomuser.me/api/portraits/men/40.jpg" />
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>
    </mat-toolbar>
    <div class="p-3">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>